{% extends 'paginas/base.html' %}
{% load static %}

{% block title %}
<title>Django-Igreja: Comunidade Cristã</title>
{% endblock %}


{% block destaque %}

<div class="container-fluid border border-dark p-3 mt-3 text-center" style="background-color: #632b1a;">
    <div class="text-light">
        <h2>Tenha mais Django na sua empresa</h2>
    </div>

</div>




<div class="container-fluid mt-3">
    <div class="row mt-5">
        <div class="col-3  mx-auto text-center">
             <h3>Church</h3><hr>
            <img src="{% static 'img/church-1.jpg' %}" alt="" class="img-fluid " style="width: 300px; height: 200px;">
            <p class="mt-3">Lorelor sit amet consectetur adipisicing elit. Tempora, non ad error soluta, assumenda voluptatibus commodi impedit doloribus quis consequuntur, saepe nihil odio cupiditate dolorum deleniti aliquam. At, dolore architecto.</p>
            <button type="button" class="btn text-light text-center px-5 " style="background-color:#632b1a ; border-radius: 18px;">more</button>
        </div>
        <div class="col-3  mx-auto text-center">
            <h3>Church</h3><hr>
            <img src="{% static 'img/igreja-home.jpg' %}" alt="" class="img-fluid " style="width: 300px; height: 200px;">
            <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit et, ipsum ducimus veniam hic autem dolore sed dignissimos harum velit fugiat, libero debitis deserunt quod! Voluptatibus corrupti vel ut nobis.</p>
            <button type="button" class="btn text-light text-center px-5 " style="background-color:#632b1a ; border-radius: 18px;">more</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3  mx-auto text-center">
            <h3>Church</h3><hr>
            <img src="{% static 'img/church-nini.jpg' %}" alt="" class="img-fluid " style="width: 300px; height: 200px;">
            <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit et, ipsum ducimus veniam hic autem dolore sed dignissimos harum velit fugiat, libero debitis deserunt quod! Voluptatibus corrupti vel ut nobis.</p>
            <button type="button" class="btn text-light text-center px-5  " style="background-color:#632b1a ; border-radius: 18px;">more</button>
        </div>
        <div class="col-3  mx-auto text-center">
            <h3>Church</h3><hr>
            <img src="{% static 'img/church-england.jpg' %}" alt="" class="img-fluid " style="width: 300px; height: 200px;">
            <p class="mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit et, ipsum ducimus veniam hic autem dolore sed dignissimos harum velit fugiat, libero debitis deserunt quod! Voluptatibus corrupti vel ut nobis.</p>
            <button type="button" class="btn text-light text-center px-5 " style="background-color:#632b1a ; border-radius: 18px;">more</button>
        </div>
    </div>
</div>



{% endblock %}
{% block conteudo %}
{% endblock %}
