{% extends 'paginas/base.html' %}
{% load static %}

{% block title %}
<title>Django-Igreja: Comunidade Cristã</title>
{% endblock %}


{% block destaque %}

<section style="padding-bottom: 200px; background-image: linear-gradient(to right, #DECBA4, #3E5151)">
    <div>
        <h1 style="text-align: right; margin-right: 40px; color: white;">
            Seja bem vindo a Igreja de Django
        </h1>
        <hr>
        <div style="float: right;">
            <p style="text-align: right; width: 250px; margin-right: 40px; font-size: 20px; color: white;">
                aqui você pode criar seu grupo e marcar reuniões com seus amigos da igreja
            </p>
        </div>
    </div>

</section>
<section >
    <div  style="background-color: #632b1a; color: white;">
        <h2 style="text-align: center;">
            Respeito a Todos 
        </h2><hr>
    </div>
</section>
<section>
    <div>
        
    </div>
</section>


{% endblock %}

